<% title "Registration Forms" %>

<table class ='listing'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th> Actions</th>
  </tr>
  <% for registration_form in @registration_forms %>
    <tr>
      <td><%=h registration_form.name %></td>
      <td><%=h registration_form.description %></td>
      <td><%= link_to "Show", registration_form %> | 
          <%= link_to "Edit", edit_registration_form_path(registration_form) %> | 
          <%= link_to "Destroy", registration_form, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Registration Form", new_registration_form_path %></p>
