
<% form_for [@hospital, @form] do |form| %>
  <%= form.error_messages %>
  <div class ='general'>
    <h3> Form details </h3>
    <p>
      <%= form.label :name %><br />
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :description %><br />
      <%= form.text_area :description, :rows => 3, :cols => 50 %>
    </p>
  </div>
 
  <div class = "fields">
     <% form.fields_for :form_fields do |f| %>
       <%= render :partial => 'form_fields/form_field', :locals => {:f => f} %>
    <% end %>
  </div>
  <p><%= add_new_field_link("Add another field", form, @form.form_fields.build, "form_fields/form_field") %></p>
 <hr />

  
  <p><%= form.submit "Save & preview this form" %> -or- <%= link_to "Cancel", :back %> </p>
<% end %>
